/* metodología BEM */
body {
   background-color: var(--background-color);
   background-image: url(assets/bg-desktop.svg);
   min-height: 100vh;
   /* overflow: hidden; */
}
.header {
   width: 15%;
   margin: 24px 0 16px 80px;
   padding: 20px 0 10px 20px;
}
.header__img {
   width: auto;

}
@media (max-width: 640) {}